/* Main Window */
.window {
    padding: 12px;
}

/* Other Styles */
.header img {
    max-width: 70vw;
}

.returnToMainMenu {
    position: fixed;

    bottom: 12px;
    left: 12px;
}

.spacer {
    height: 120px;
}