/* Main Window */
.window {
    padding: 12px;

    height: 100vh;

    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 6fr 2fr 2fr;
    grid-template-areas:
    "icon"
    "title"
    "options";

    align-items: stretch;
}

/* Grid Children */
.icon {
    grid-area: icon;
}

.icon > img {
    max-width: 20vw;

    opacity: 0;

    animation: flicker 3s linear 0s infinite;
}

@keyframes flicker {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 1;
    }
    11% {
        opacity: 0;
    }
    12% {
        opacity: 0;
    }
    12.01% {
        opacity: 1;
    }

    16% {
        opacity: 1;
    }
    17% {
        opacity: 0;
    }
    18% {
        opacity: 0;
    }
    18.01% {
        opacity: 1;
    }

    34% {
        opacity: 1;
    }
    35% {
        opacity: 0;
    }
    36% {
        opacity: 0;
    }
    36.01% {
        opacity: 1;
    }

    74% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    76% {
        opacity: 0;
    }
    76.01% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.title {
    grid-area: title;
}

.title > img {
    max-width: 70vw;
}

.options {
    grid-area: options;
}

.options form > input {
    margin: 8px;
}